# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyd
*.db
*.sqlite3
*.log

# Flask
instance/
.env
*.py[cod]

# Virtual Environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.ncb
*.log
*.swp
*.swo

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Packaging
*.egg
*.egg-info/
dist/
build/
.eggs/
*.egg-info/
*.manifest
*.spec
